<!DOCTYPE html>
<html>
<head>
  <title>Plugin sample</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "plugin_sample/application", media: "all" %>
  <%= javascript_include_tag "plugin_sample/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
